<div id="wrapper">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-image: linear-gradient(180deg,#5d5e60 10%,#000000 100%)">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-n-15">
<!--            <i class="fas fa-laugh-wink"></i>-->

        </div>
        <img src="/img/F1_Esports_Korea_-_02.png" style="width: 50px">
        <div class="sidebar-brand-text mx-3">F1 Esports Korea</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>리그순위</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/rating">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>레이팅</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/leagueResult">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>경기결과</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="/enterResult">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>결과입력</span></a>
    </li>
</ul>
<!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div>
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" style="background-image:url('/img/f1_2.jpg')">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
<!--                <img src="/img/f1_2.jpg" style="height: inherit;">-->
<!--                <img src="/img/f1_2.jpg" style="height: inherit;">-->
<!--                <img src="/img/f1_2.jpg" style="height: inherit;">-->

            </nav>
            </div>
            <!-- End of Topbar -->