{{>layout/header}}
<!-- Page Wrapper -->
{{>layout/nav}}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="container" int ="cont">
        <div class="row">
            <div class="col input-group mb-3">
                <div>
                    <label class="input-group-text" for="inputGroupSelect01">리그명</label>
                </div>
                <select class="custom-select" id="title">
                    <option value="100퍼" selected>100퍼</option>
                    <!--                    <option value="FM2021" selected>FM2021</option>-->

<!--                    <option value="만두리그">만두리그</option>-->
                </select>
            </div>
            <div class="col input-group mb-3">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">경기일자</span>
                    <input class="form-control" type="text" id="date-picker1">
                </div>
            </div>

            <div class="col input-group mb-3  col">
                <div>
                    <span class="input-group-text">서킷</span>
                </div>
                <input type="text" class="form-control" placeholder="서킷명" aria-label="Username"
                       aria-describedby="basic-addon1" id="circuit">
            </div>
        </div>
        {{#result}}
            <div class="row">
                <div class="input-group mb-3 col">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">{{rank_left}}등</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default" id="driver_{{rank_left}}">
                    <select class="col-3 custom-select" aria-label="Default select example" id="notes_{{rank_left}}">
                        <option selected>비고</option>
                        <option value="FastestLap">FastestLap</option>
                        <option value="DNF">DNF</option>
                    </select>
                    <input type="hidden" id="ranking_{{rank_left}}" value ="{{rank_left}}"/>
                </div>
                <div class="input-group mb-3 col">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">{{rank_right}}등</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default"
                           aria-describedby="inputGroup-sizing-default" id="driver_{{rank_right}}">
                    <select class="col-3 custom-select" aria-label="Default select example" id="notes_{{rank_right}}">
                        <option selected>비고</option>
                        <option value="FastestLap">FastestLap</option>
                        <option value="DNF">DNF</option>
                    </select>
                    <input type="hidden" id="ranking_{{rank_right}}" value ="{{rank_right}}"/>
                </div>
            </div>
        {{/result}}
        <div class="text-right">
            <button type="button" class="btn btn-primary" id="btn-save">저장</button>
        </div>
    </div>

    <!-- /.container-fluid -->
{{>layout/footer}}