{{>layout/header}}
<!-- Page Wrapper -->
{{>layout/nav}}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div class="col input-group mb-3">
                <div>
                    <label class="input-group-text" for="inputGroupSelect01">리그명</label>
                </div>
                <select class="custom-select" id="resultTitle">
                    <option value="100퍼" selected>100퍼</option>
<!--                    <option value="FM2021">FM2021</option>-->
<!--                    <option value="만두리그">만두리그</option>-->
                </select>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">POS</th>
            <th scope="col">DRIVER</th>
            <th scope="col">PTS</th>
        </tr>
        </thead>
        <tbody id="resultTbody">
        {{#result}}
            <tr>
                <th scope="row">{{rank}}</th>
                <td>{{driver}}</td>
                <td>{{point}}</td>
            </tr>
        {{/result}}
        </tbody>
    </table>

</div>
<!-- /.container-fluid -->
{{>layout/footer}}
